.flx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  border: 2px solid #ddd;
  padding: 10px 30px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.w50 {
  width: 60%;
  margin: 0 auto;
}
